<% /*----------------------------------
Course list page for admin panel.

Author(s): Jun Zheng [me at jackzh dot com]
           Neeilan Selvalingam
           Michael Dennis
-----------------------------------*/ %>
<% include ../Partials/Header.ejs %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Courses</li>
    </ol>
</nav>

<h3>All Courses</h3>

<% include ../Partials/Flash.ejs %>

<form method="post">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="code">Code</th>
            <th class="name">Name</th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <% if (courses.length === 0) { %>
        <tr>
            <td colspan="3">
                Currently there is no course in the system.
            </td>
        </tr>
        <% } else { %>
            <% courses.forEach(course => { %>
                <tr>
                    <td class="code"><%= course.getCode() %></td>
                    <td class="name"><%= course.getDisplayName() %></td>
                    <td class="actions">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"/>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes`) %>">
                                    <i class="fa fa-list" aria-hidden="true"></i> &nbsp;Manage Quizzes
                                </a>
                                <a class="dropdown-item"
                                   href="<%= getAbsUrl(`/admin/courses/${course.getId()}/tutorials-quizzes`) %>">
                                    <i class="fa fa-play" aria-hidden="true"></i> &nbsp;Conduct Quizzes
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>
</form>

<% include ../Partials/Footer.ejs %>
