<% include ./Header.ejs %>

<h3>Your Courses</h3>

<% if (!_.isEmpty(courses)) { %>
    <div class="list-group">
    <% _.each(courses, course => { %>
        <a href="<%= getAbsUrl(`/student/courses/${course.getId()}/quizzes`) %>" class="list-group-item">
            <span class="code"><%= course.getCode() %></span> -
            <span class="name"><%= course.getDisplayName() %></span>
        </a>
    <% }) %>
    </div>
<% } %>

<% include ./Footer.ejs %>