<% include ./Header.ejs %>

<h3><%= course.getDisplayName() %></h3>

<br>

<% if(!tutorialQuizzes.length){ %>
<p>There is no quiz currently available to you.</p>
<% } else { %>
    <% tutorialQuizzes.forEach(tutorialQuiz => { %>
        <hr class="my-2"/>

        <a href="<%= getAbsUrl(`/student/courses/${course.getId()}/quizzes/${tutorialQuiz._id}/start`) %>"
           class="btn btn-primary pull-right">Enter</a>

        <h4><%= tutorialQuiz.quiz.name %> <small><%= tutorialQuiz.tutorial.getDisplayName() %></small></h4>
    <% }) %>
<% } %>
<% include ./Footer.ejs %>