<% include ./header %>

<h3><%= course.getDisplayName() %></h3>

<br>

<% if(!tutorials.length){ %>
<p>You are not enrolled in any tutorials... You must be enrolled in at least one tutorial to write quizzes.</p>
<% } else { %>
    <% for(let i = 0; i < tutorials.length; i++){ %>
        <h4><%= tutorials[i].getDisplayName() %></h4>
    <% } %>
<% } %>
<% include ./footer %>