<% include ../Partials/Header.ejs %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Courses</li>
    </ol>
</nav>

<h2>Your Courses</h2>

<% if (!_.isEmpty(courses)) { %>
    <div class="list-group">
    <% _.each(courses, course => { %>
        <a href="<%= getAbsUrl(`/student/courses/${course.getId()}/quizzes`) %>" class="list-group-item">
            <span class="code"><%= course.getCode() %></span> -
            <span class="name"><%= course.getDisplayName() %></span>
        </a>
    <% }) %>
    </div>
<% } %>

<% include ../Partials/Footer.ejs %>