<% include ../Partials/Header.ejs %>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
});
</script>

<div id="quizAppDiv"></div>

<% include ../Partials/Footer.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
<script src="<%= getAbsUrl('/socketioclient/socket.io.js') %>"></script>
<script src="<%= getAbsUrl('/js/start-quiz-bundle.js') %>"></script>