<% include ../../../Student/Header.ejs %>
<h2> Quiz preview: </h2>
<hr/>
<div id="previewQuizDiv"></div>
<% include ../../../Student/Footer.ejs %>
<script src="/js/preview-question-bundle.js"></script>